<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Icon -->
    <link rel="shortcut icon" href="../images/icon.ico" type="image/x-icon">
    <!-- Font -->
    <link rel="stylesheet" href="https://cdn.staticfile.org/font-awesome/4.7.0/css/font-awesome.css">
    <!-- BS CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <!-- Common CSS -->
    <link rel="stylesheet" href="../css/common.css">
    <!-- Index CSS -->
    <link rel="stylesheet" href="../css/index.css">
    <!-- Introduction2 Css -->
    <link rel="stylesheet" href="../css/introduction2.css">

    <title>北京大学深圳医院 宫颈癌早诊早治示范基地</title>
</head>

<body>
    <!-- Header部分开始 -->
    <header id="header">
        <nav class="navbar navbar-expand-lg navbar-light w-100 py-3 px-2" id="navbar">
            <div class="container">
                <a class="navbar-brand d-flex flex-column justify-content-center" href="../index.html">
                    <h5 class="text-dark mb-1" style="font-size: 1.2rem; font-weight: bold;">宫颈癌早诊早治示范基地</h5>
                    <p class="small mb-0 text-muted">北京大学深圳医院 </p>
                </a>
                <button class="navbar-toggler border-0" id="navbar_btn" type="button" data-bs-toggle="collapse"
                    data-bs-target="#header_navbar" aria-controls="header_navbar" aria-expanded="false"
                    aria-label="Toggle navigation" style="box-shadow: none !important; padding: 0 !important;">
                    <div class="bars">
                        <div class="menu">
                            <span class="line one"></span>
                            <span class="line two"></span>
                            <span class="line three"></span>
                        </div>
                    </div>
                </button>
                <div class="collapse navbar-collapse" id="header_navbar">
                    <ul class="navbar-nav ms-auto mb-3 mb-lg-0 mt-4 mt-lg-0">
                        <li class="nav-item">
                            <a class="nav-link px-3" href="../index.html">首页</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link px-3" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown">
                                申请筛查
                                <i class="fa fa-angle-down float-end d-inline-block ms-1 drop-i"
                                    style="line-height: 24px;"></i>
                            </a>
                            <div class="dropdown-menu Screening p-0 overflow-hidden shadow border-0"
                                style="top: auto;margin-top: .35rem;margin-bottom: .75rem;">
                                <div class="row d-flex flex-row justify-content-around p-0 m-0">
                                    <div class="col-md-5 d-none d-lg-block background-att drop-before position-relative"
                                        style="background-image: url(../images/common/1.jpg);">
                                        <div class="about-text">
                                            <p class="my-3">了解更多我们</p>
                                            <a href="./Hospital_introduction.html" class="more">查看</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-7 px-4 py-3 down-text ">
                                        <h6 class="dropdown-header">申请筛查</h6>
                                        <a class="dropdown-item"
                                            href="./screening1.html">《基于互联网自取样宫颈癌筛查-管理模式的构建与应用》——邮寄样本（广州、深圳、顺德居住的居民）</a>
                                        <a class="dropdown-item"
                                            href="./screening2.html">《基于互联网自取样宫颈癌筛查-管理模式的构建与应用》——邮寄样本（北京地区）</a>
                                        <a class="dropdown-item"
                                            href="./screening3.html">《基于互联网自取样宫颈癌筛查-管理模式的构建与应用》——筛查现场取样</a>
                                        <a class="dropdown-item"
                                            href="./screening4.html">2014年深圳市“宫颈阴道细胞自取样本高危型HPV检测宫颈癌筛查”（已结项）</a>
                                        <a class="dropdown-item" href="./screening5.html">深圳市坪山新区宫颈癌防治公益项目（已结项）</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link active px-3" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown">
                                项目介绍
                                <i class="fa fa-angle-down float-end d-inline-block ms-1 drop-i"
                                    style="line-height: 24px;"></i>
                            </a>
                            <div class="dropdown-menu Screening introduction p-0 overflow-hidden shadow border-0"
                                style="top: auto;margin-top: .35rem;margin-bottom: .75rem;">
                                <div class="row d-flex flex-row justify-content-around p-0 m-0">
                                    <div class="col-md-5 d-none d-lg-block background-att drop-before position-relative"
                                        style="background-image: url(../images/common/2.jpg);">
                                        <div class="about-text">
                                            <p class="my-3">了解更多我们</p>
                                            <a href="./Hospital_introduction.html" class="more">查看</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-7 px-4 py-4 down-text ">
                                        <h6 class="dropdown-header">项目介绍</h6>
                                        <a class="dropdown-item"
                                            href="./introduction1.html">2013-2014年深圳市“宫颈阴道细胞自取样本高危型HPV检测宫颈癌筛查”
                                        </a>
                                        <a class="dropdown-item"
                                            href="./introduction2.html">全国多中心“基于互联网自取样宫颈癌筛查-管理模式的构建与应用”
                                        </a>
                                        <a class="dropdown-item active" href="./introduction3.html">深圳市坪山新区宫颈癌防治公益项目
                                        </a>
                                        <a class="dropdown-item" href="./introduction4.html">鹤山市户籍适龄妇女子宫颈癌免费筛查项目
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="./service_Information.html">服务指南</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link px-3" href="#" id="navbarDropdown" role="button"
                                data-bs-toggle="dropdown">
                                关于我们
                                <i class="fa fa-angle-down float-end d-inline-block ms-1 drop-i"
                                    style="line-height: 24px;"></i>
                            </a>
                            <div class="dropdown-menu About p-0 overflow-hidden shadow border-0"
                                style="top: auto;margin-top: .35rem;margin-bottom: .75rem;">
                                <div class="row d-flex flex-row justify-content-around p-0 m-0">
                                    <div class="col-md-5 d-none d-lg-block background-att drop-before position-relative"
                                        style="background-image: url(../images/common/3.png);">
                                        <div class="about-text">
                                            <p class="my-3">了解更多我们</p>
                                            <a href="./Hospital_introduction.html" class="more">查看</a>
                                        </div>
                                    </div>
                                    <div class="col-12 col-lg-7 px-4 py-3 down-text">
                                        <div class="row p-0 m-0">
                                            <div class="col-sm-6">
                                                <div>
                                                    <h6 class="dropdown-header">医疗机构</h6>
                                                    <a class="dropdown-item"
                                                        href="./Hospital_introduction.html">北京大学深圳医院</a>
                                                    <a class="dropdown-item"
                                                        href="./medical_center.html">宫颈癌早诊早治中心介绍</a>
                                                    <a class="dropdown-item"
                                                        href="./Obstetrics_introduction.html">北京大学深圳医院妇产科</a>
                                                </div>
                                                <div>
                                                    <h6 class="dropdown-header">关于我们</h6>
                                                    <a class="dropdown-item"
                                                        href="./Center_introduction.html">宫颈癌早诊早治中心</a>
                                                    <a class="dropdown-item" href="./Main_results.html">主要成果</a>
                                                    <a class="dropdown-item" href="./research_paper.html">研究论文</a>
                                                </div>
                                            </div>
                                            <div class="col-sm-6">
                                                <h6 class="dropdown-header">专家推荐</h6>
                                                <a class="dropdown-item" href="./Expert1.html">贝林森教授</a>
                                                <a class="dropdown-item" href="./Expert2.html">吴瑞芳</a>
                                                <a class="dropdown-item" href="./Expert3.html">刘志红</a>
                                                <a class="dropdown-item" href="./Expert4.html">杜辉</a>
                                                <a class="dropdown-item" href="./Expert5.html">肖爱民</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link px-3" href="./contact_us.html">
                                联系我们
                            </a>
                        </li>
                        <li class="nav_border"></li>
                        <a class="btn sign_btn ms-2 my-3 my-lg-0" href="./login.html">
                            <i class="fa fa-user-circle-o text-white px-1"></i>
                            登录
                        </a>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <!-- Header部分结束 -->

    <!-- Container部分开始 -->
    <div class="index">
        <div id="introduction" ref="getdivheight">
            <div class="header-background">
                <p style="font-size: 20px;text-align: center;color: white;margin: 0;">
                    全国多中心“基于互联网自取样宫颈癌筛查-管理模式的构建与应用”</p>
            </div>
            <div style="margin-top:10px;margin-left: 10px;margin-right:10px;margin-bottom: 10px;">

                <div v-if="introduction1">
                    <p> 2017年7月27日，坪山区户籍妇女宫颈癌防治项目结题报告会成功召开。深圳市卫生和计划生育委员会副主任孙美华、坪山区区委常委、区政府党组成员林良沛、北京大学深圳医院院长、深圳市女医师协会会长陈芸、坪山区卫生和计划生育局局长余雁刚、副调研员陈景杰、深圳市女医师协会宫颈癌筛查组专家以及坪山区各医院宫颈癌筛查项目组成员出席会议。会议由深圳市妇幼保健院副院长、深圳市女医师协会副会长吴波主持。
                    </p>
                    <img src="../images/xm1.jpg" alt="" style="max-width: 100%;">

                    　　<p>
                        坪山区户籍妇女宫颈癌防治公益项目旨在3年内完成辖区1万名户籍妇女免费宫颈癌筛查和诊疗服务工作。由坪山区妇幼保健院、北京大学深圳医院、深圳市女医师协会共同申请并实施。在坪山区的大力支持下，于2014年3月7日正式启动。
                    </p>
                    　
                    区卫生和计划生育局局长余雁刚为会议致辞时表示，项目的顺利完成不仅是响应深圳市质量提升突破年活动的一项重要举措，也是建设健康坪山进程中迈出的关键一步，坪山区医疗卫生单位必须保持这种质量与干劲，为坪山区医疗事业发展保驾护航。
                </div>

                <!-- 2 -->

                <div v-if="introduction2">
                    <img src="../images/xm2.jpg" alt="" style="max-width: 100%;">
                    <p>
                        北京大学深圳医院妇产科主任吴瑞芳、坪山区妇幼保健院院长闵娟向与会人员详细介绍了项目情况，并就项目实施、完成情况以及取得的主要成绩进行了汇报。该项目主要包括网络模式自取样初筛、二次筛查，及筛查阳性者合理干预三个内容。为保证项目保质保量完成，坪山区妇幼保健院保健部工作人员通过进社区、下工厂、走街道开展形式多样的宫颈癌健康知识培训和讲座，发放宣传资料，举办大型公益活动等方式，大力宣传宫颈癌相关知识，提高了辖区妇女对宫颈癌的防治意识，推动了项目进展。项目已完成初筛人数10011人，查出HPV阳性1112
                        人，阳性率11.1 %。通过对阳性患者进行细胞学及阴道镜检查，确诊宫颈癌2 例，宫颈高度病变 39
                        例，均已做了相关治疗处理。有效解决坪山区育龄妇女宫颈癌筛查和诊治覆盖面不足的问题，促进坪山区宫颈癌防治惠民政策的落实。</p>

                    <p> 北京大学深圳医院院长、深圳市女医师协会会长陈芸表示，项目见证了坪山区的发展，也体现了项目组用创新的方法和理念把常规的宫颈癌筛查工作创造出非凡的价值，进一步缩小了市、区两级科研水平的差距，并提出将整合项目资源，把项目开展经验推广开来。
                    </p>
                    <p>
                        美华主任用"昨天、今天、明天"为主题，充分肯定了项目成果，高度赞扬了项目发挥的积极意义。美华主任指出，本项目是一项务实的民生工程，体现了深圳市医务人员的责任与担当，并产生了良好及广泛的经济效应和社会效应。该项目探索了适合基层的筛查服务模式和优化方案，对全市公共卫生项目落实起到借鉴作用，并要求项目组要将项目成果转化成可复制、可推广的工作方案，以惠及深圳市更多的育龄妇女。
                    </p>
                </div>

                <!-- 3 -->
                <div>

                    <div v-if="introduction3">
                        <p>良沛常委向参与项目的工作人员致以亲切慰问，对支持此项目的领导及专家表示感谢。他指出，该项目的实施是为辖区妇女送上的一份健康礼包，是打造健康坪山的有力举措。该项目通过宣传、健康教育和宫颈癌筛查，达到宫颈癌早期发现、早期诊断、早期治疗的目的，建立了以政府为主导、多部门协作、全社会参与的疾病防治模式和协作机制。在深圳市实施深圳东进战略背景下，良沛常委要求区医疗卫生事业要紧紧围绕建设医疗东部中心的总体目标，推动坪山区医疗卫生事业大发展大提高，建设深圳东部国际化特色化医疗高地，为坪山经济社会发展提供有力支撑。
                        </p>
                        <img src="../images/xm3.jpg" alt="" ststyle="max-width: 100%;">
                    </div>



                    <!-- 4 -->

                    <div v-if="introduction4">
                        项目来源：<br>

                        此项目包括“网络模式自取样HPV检测为初筛、HPV亚型联合细胞学二次筛查，及筛查阳性者的合理干预”，是由深圳市女医师协会与坪山新区妇幼保健院联合申请、北京大学深圳医院提供技术支持、坪山新区政府批准实施的子宫颈癌筛查公益项目。<br>

                        项目背景：<br>

                        宫颈癌是由生殖道感染人类乳头瘤病毒（HPV）引起的，采集宫颈脱落细胞样本进行HPV检查可以帮助检测到癌症或者癌前病变。本项目将采用Cobas HPV
                        DNA检测与第二代基因测序技术HPV
                        DNA检测作为宫颈癌初筛方案，这是最为简单方便又能保持高敏感性的筛查方法。参与本项目需经网络报名登记、自助获取阴道宫颈脱落细胞（阴道自取样标本），并可网络查询筛查结果。<br>

                        参加筛查者条件：<br>

                        共有10,000名坪山新区户籍妇女会有机会参加这个宫颈癌防治项目。<br>

                        1、坪山新区各社区户籍妇女，年龄25-60岁，有性生活，未经过子宫全切术和盆腔放射治疗的非妊娠女性。<br>

                        2、符合筛查条件的女性参加筛查完全出于自愿，阅读筛查须知后同意参加筛查，网上注册成功申请后，必须点击《知情同意书》“同意筛查”。此举等同于亲笔签字。如果筛查对象不签字，便不可以参加筛查。<br>

                        参加筛查方法：<br>

                        1、登录北京大学深圳医院的宫颈癌防治专业网站（http://www. mcareu.com），输入简单的个人信息申请筛查，成功注册后即可获得一个您个人专属的筛查号码（条码）；<br>

                        2、您会通知您请您到指定地点（坪山新区妇幼保健院）领取筛查用取样器或按照您提供的地址寄送取样器。<br>

                        3、您在我们的宫颈癌防治专业网站观看自取样图文说明书与视频，学习如何使用自取样刷自己采集阴道宫颈脱落细胞标本。在私隐的环境下按照说明书进行自取样，并将标本交回或寄回指定地点。<br>

                        4、您采集的标本将被测试是否含有引起宫颈癌的高危型HPV病毒。如果您对这个过程感到疑惑或者觉得不自在，您可以经网站咨询专家。<br>

                        5、您可以从网站查询标本运送和检验的状态并查询检验结果。<br>



                        如果您的HPV检查结果为阴性，您此次的筛查就此结束。如果筛查结果呈阳性，我们将会和您联系，请您到指定医院进一步检查或治疗。本项目采用的阴道镜检查、宫颈冷冻和LEEP手术均为世界卫生组织（WHO）推荐的宫颈病变诊疗措施，本项目将遵循WHO推荐的标准程序进行治疗与随访。<br>

                        本项目将对所有参加筛查的10,000名妇女，于参加初筛后的第三年免费复检HPV DNA，并对筛查阳性者继续实施免费诊治。<br>

                        费用支付：<br>

                        本项目采取的检查与治疗措施均为当今世界上公认最为先进的技术，筛查与诊疗的全部费用将由项目支付。<br>
                    </div>

                    <nav aria-label="Page navigation example" style="margin-top:20px;margin-bottom: 10px;">
                        <ul class="pagination mx-auto" style="width: 200px;">
                            <li class="page-item active"><a class="page-link cur" @click="introductions1">1</a>
                            </li>
                            <li class="page-item"><a class="page-link cur" @click="introductions2">2</a></li>
                            <li class="page-item"><a class="page-link cur" @click="introductions3">3</a></li>
                            <li class="page-item"><a class="page-link cur" @click="introductions4">4</a></li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>

        <!-- 返回顶部部分开始 -->
        <section class="radio">
            <a href="#">
                <i class="fa fa-angle-up"></i>
            </a>
        </section>
        <!-- 返回顶部部分结束 -->

        <!-- Footer部分开始 -->
        <footer id="footer">
            <div class="container py-5 text-white" style="font-size: 13px;">
                <div class="row px-2">
                    <div class="col-12 col-lg-3 px-xl-5 mx-xl-4 mb-5">
                        <a href="../index.html" style="color: rgb(236, 236, 236);">
                            <h5 style="font-weight: bold; line-height: 30px;">
                                北京大学深圳医院
                                <br>
                                宫颈癌早诊早治示范基地
                            </h5>
                        </a>
                        <p>治疗更及时</p>
                        <ul class="footer_icon mb-0 p-0">
                            <li>
                                <a href="#">
                                    <i class="fa fa-facebook-square"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-twitter"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-qq"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-weixin"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-lg footer_nav">
                        <p style="color: #fff !important; font-weight: 600;font-size: 18px;">医疗机构</p>
                        <ul class="px-0">
                            <li><a href="./Hospital_introduction.html">北京大学深圳医院</a></li>
                            <li><a href="./medical_center.html">北京大学深圳医院宫颈癌早诊早治中心</a></li>
                            <li><a href="./Obstetrics_introduction.html">北京大学深圳医院妇产科</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-lg footer_nav">
                        <p style="color: #fff !important; font-weight: 600;font-size: 18px;">关于宫颈癌</p>
                        <ul class="px-0">
                            <li><a href="#">宫颈癌防治知识</a></li>
                            <li><a href="#">网络模式子宫颈癌筛查的意义</a></li>
                            <li><a href="#">医学动态</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-lg footer_nav">
                        <p style="color: #fff !important; font-weight: 600;font-size: 18px;">专家推荐</p>
                        <ul class="px-0">
                            <li><a href="./Expert1.html">贝林森教授</a></li>
                            <li><a href="./Expert2.html">吴瑞芳主任</a></li>
                            <li><a href="./Expert3.html">刘志红主任</a></li>
                            <li><a href="./Expert4.html">杜辉教授</a></li>
                            <li><a href="./Expert5.html">肖爱民医生</a></li>
                        </ul>
                    </div>
                    <div class="col-md-3 col-lg footer_nav">
                        <p style="color: #fff !important; font-weight: 600;font-size: 18px;">资源</p>
                        <ul class="px-0">
                            <li><a href="./contact_us.html">帮助</a></li>
                            <li><a href="./screening_report.html">我的筛查结果<i class="fa fa-external-link mx-2"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr>
                <div class="d-flex flex-column flex-md-row justify-content-between align-items-center"
                    style="font-size: 15px;">
                    <span>北京大学深圳医院 宫颈癌早诊早治示范基地</span>
                    <span>粤ICP备11048840 粤公网安备 44030402004994号</span>
                </div>
            </div>
        </footer>
        <!-- Footer部分结束 -->

        <!-- BS JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
            crossorigin="anonymous"></script>
        <!-- Common JS -->
        <script src="../js/common.js"></script>
        <!-- Vue js -->
        <script src="../js/vue.js"></script>
        <script>
            new Vue({
                el: "#introduction",
                data: {
                    introduction1: true,
                    introduction2: false,
                    introduction3: false,
                    introduction4: false,
                    isaction: 1
                },

                methods: {
                    introductions1() {
                        console.log(document.querySelectorAll("page-item"));
                        for (let i = 0; i < document.querySelectorAll(".page-item").length; i++) {
                            document.querySelectorAll(".page-item")[i].className = "page-item";
                        }
                        document.querySelectorAll(".page-item")[0].className = "page-item active";
                        this.introduction1 = true;
                        this.introduction2 = false;
                        this.introduction3 = false;
                        this.introduction4 = false;
                        this.isaction = 1;
                    },
                    introductions2() {
                        for (let i = 0; i < document.querySelectorAll(".page-item").length; i++) {
                            document.querySelectorAll(".page-item")[i].className = "page-item";
                        }
                        document.querySelectorAll(".page-item")[1].className = "page-item active";
                        this.introduction1 = false;
                        this.introduction2 = true;
                        this.introduction3 = false;
                        this.introduction4 = false;
                        this.isaction = 2;
                    },
                    introductions3() {
                        for (let i = 0; i < document.querySelectorAll(".page-item").length; i++) {
                            document.querySelectorAll(".page-item")[i].className = "page-item";
                        }
                        document.querySelectorAll(".page-item")[2].className = "page-item active";
                        this.introduction1 = false;
                        this.introduction2 = false;
                        this.introduction3 = true;
                        this.introduction4 = false;
                        this.isaction = 3;
                    },
                    introductions4() {
                        for (let i = 0; i < document.querySelectorAll(".page-item").length; i++) {
                            document.querySelectorAll(".page-item")[i].className = "page-item";
                        }
                        document.querySelectorAll(".page-item")[3].className = "page-item active";
                        this.introduction1 = false;
                        this.introduction2 = false;
                        this.introduction3 = false;
                        this.introduction4 = true;
                        this.isaction = 4;
                    }
                },
            })
        </script>
</body>


</html>